/* Tamanho de cada célula */
td { 
    padding: 10px;
}

/* Cor da célula caso viva */
td.vivo {
    background-color: rgb(105, 88, 216);
}

h1 {
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}

/* Customização do botão */
button, button:active, button:focus, button:hover {
    background-color: rgb(86, 74, 167);
    border: 2px rgb(86, 74, 167) solid;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
    font-weight: bold;
    outline: none;

}